<nav class="navbar navbar-expand-lg header-bg text-white">
  <div class="container-fluid d-flex justify-content-between align-items-center w-100">
    
    <!-- CENTRO: Titlo -->
    <div class="mx-auto">
      <a class="navbar-brand text-white fw-bold text-center">FutbolStats</a>
    </div>

    <!-- DERECHA: Opciones de navegación -->
    <div class="d-flex">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" href="https://librosobrelibro.com/resenas/en-que-pensamos-cuando-pensamos-en-futbol/">Reseñas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Contacto
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="tel:+593928465376">📞 0928465376</a></li>
            <li><a class="dropdown-item" href="mailto:correo@futbolstats.com">✉️ correo&#64;futbolstats.com</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>

